html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #cdd8e0 !important;
  color: #003F4F !important;
}

.category-btn:hover span{
  color: #003F4F !important;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}

.search-bar{
  border:none;
  outline:none;
  width:350px;
}

.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;
  
  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

.ho-colora {
  background: #003F4F;
}

.ho-colorb {
  background: #0085a8;
}

.ho-colorc {
  background: #3b717f;
}

.ho-color1 {
  background: #24527a;
}
.ho-color2 {
  background: #5dacbd;
}

.ho-color3 {
  background: #a7bcb9;
}

.ho-color4 {
  background: #e0ebeb;
}

.ho-color5-text {
  background: #cdd8e0;
}

.ho-color6-text {
  background: #fff;
}

.ho-color7-text {
  background:#76e3ff;
}
